body {
	font-family: Arial;
	font-size: 12px;
}

h1 
{
	margin: 5px 0 5px 10px;
	font-size: 24pt;
	font-weight:bold;
}

.header 
{
	background-color: #e5ecf9;
}

.header-options 
{
	float:right;
	margin: 8px 10px;
}

#content-tabs
{
	height: 100%;
}

.contentpane {}

#topicsList , #searchTopic
{
	width:100%;
}

#searchTopic
{
	margin-bottom: 5px;
}
